* {
    font-family: Verdana, Arial, sans-serif;
}

html {
    font-size: 7px;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    background-color: aliceblue;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100svw;
}
h1 {
    background-image: radial-gradient(ellipse, #2d49b8, #a5c2fa);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 40px;
    text-align: center;
    font-size: 4rem;
    box-shadow: #779d9d -2px 4px 4px;
    border-radius: 3px;
    width: 76%;
    border-top: #0000ff21 solid 1px;
    padding: 12px;
}

h2 {
    font-size: 2rem;
}

.help-headings {
    text-align: center;
}

/* ------------------------------------------------------------------------------------- */

input[type=text],input[type=number] {
	font-size: 1.8rem;
	padding: 5px 10px;
	width: 89%;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

input[type=number] {
    width: 15%;
}

input[type=text],input[type=number]:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}

input[type=text],input[type=number]::placeholder {
	color: #384576;
    font-weight: bold;
}

label {
    font-size: 2rem;
}

/* -------------------------------------------------------------------------------------- */

picture {
    margin-top: 40px;
    display: inline-flex;
    justify-content: center;
}

img {
    border-radius: 3px;
}

li {
    font-size: 1.6rem;
    margin-top: 10px;
    line-height: 18px;
}

/* password generator box styling */
.main-generator-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
}

.number-symbol-container {
    margin-top: 10px;
}

#generator-settings {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.security-facts-wrapper {
    background: linear-gradient(90deg, #a3a3f4ab 0%, #a3a3f436 45%, aliceblue 100%);
    margin-top: 41px;
    padding-left: 10px;
    width: 95%;
    border-radius: 2px;
}

.facts-list {
    width: 76%;
}

/* Button styling */
#copy {
    margin-top: 10px;
}

#copy, #create-pass {
    font-size: 1.7rem;
    box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

#copy, #create-pass:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;	
}

/* -------------------------------- */

#error-msg {
    color: red;
    font-weight: bold;
    visibility: hidden;
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
    width: 76%;
}


@media screen and (min-width: 720px) and (min-height:750px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 9px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 11px;
    }
    .facts-list {
        padding-left: 9%;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 14px;
    }
    li {
        line-height: 29px;
    }
    .facts-list {
        padding-left: 12%;
    }
}